.wrapper {
    margin: 0;
}

.container_hub {
    width: 50%;
    min-width: 500px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    /* background-color: rgb(94, 94, 94); */
}

.container_hub .block {
    position: relative;
    height: 250px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(96, 96, 96);
    overflow: hidden
}

/* .block:hover{
    top: -10px;
    box-shadow: 0px 10px 50px teal;
    transition: 0.5s;
} */

.container_hub .block .image {
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

#task1 {
    background-image: url('../img/task1.png');
    background-position: center;
    background-size:cover;
}

#task2 {
    background-image: url('../img/task2.png');
    background-position: center;
    background-size:cover;
}

#task3 {
    background-image: url('../img/task3.png');
    background-position: center;
    background-size:cover;
}

#task4 {
    background-image: url('../img/task4.png');
    background-position: center;
    background-size:cover;
}

#task5 {
    background-image: url('../img/task5.png');
    background-position: center;
    background-size:cover;
}

#task6 {
    background-image: url('../img/task6.png');
    background-position: center;
    background-size:cover;
}

#task7 {
    background-image: url('../img/task7.png');
    background-position: center;
    background-size:cover;
}

#task8 {
    background-image: url('../img/task8.png');
    background-position: center;
    background-size:cover;
}

.container_hub .block .text {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    transition: 0.5s ease;
    background-color: rgba(0,0,0,0.4);
}

.container_hub .block .text p {
    margin: auto;
    color: white;
}

.container_hub .block:hover .image{
    transform: scale(1.1);
    transition: 0.5s;
}

.container_hub .block:hover .text{

    height: 35%;
    background-color: rgba(0,0,0,0.6);
    transition: 0.5s;
    animation-direction: alternate;
}

.container_hub ul li {
    display: inline-flex;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;   
}

.container_hub ul {
    padding-inline-start: 20px;
    text-align: center;
    list-style: none;
}

@media (min-width: 576px) and (max-width: 1200px) {
    .container_hub {
        scale: 1.2;
        margin-top: 0;
    }
    .container_hub .block .text {
        font-size: 40px;
    }
}